// Specified size
@giantSize: 44px; // 超大
@largeSize: 40px; // 大
@mediumSize: 36px; // 中等
@smallSize: 32px; // 小
@miniSize: 28px; // 迷你

@disabledBg: #f5f5f5; // 禁用背景色
@disabledColor: #00000040; // 禁用字体色
@disabledBorderColor: #d9d9d9; // 禁用边框色

// Default 'Input Select Button' border color
@borderColor: #d9d9d9;
@fontColor: #000000a6;
@backgroundColor: #fff;