// Specified size
@giantSize: 44px;
@largeSize: 40px;
@mediumSize: 36px;
@smallSize: 32px;
@miniSize: 28px;

@disabled-bg: #f5f5f5;
@disabled-color: rgba(0, 0, 0, .25);
@disabled-border-color: #d9d9d9;