@import './index.less';
@import './theme/default.less';
body{
  margin: 0;
}

.createAimerCol(@n, @i:1) when (@i =< @n) {
  .@{aimer-prefix}-col-@{i}{
    width: (@i * 100% / @n)
  }
  .createAimerCol(@n, (@i + 1))
}

.createAimerCol(24);


.@{aimer-prefix}-col{
  display: inline-block;
  font-size: 0;
  &-item{
    font-size: 14px;
  }
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

label{
  display: block;
}

.is-disabled{
  background: @disabledBg;
  color: @disabledColor;
  border-color: @disabledBorderColor;
}

input[disabled]{
  cursor: not-allowed;
}