body {
  margin: 0;
}
.aimer-col-1 {
  width: 4.16666667%;
}
.aimer-col-2 {
  width: 8.33333333%;
}
.aimer-col-3 {
  width: 12.5%;
}
.aimer-col-4 {
  width: 16.66666667%;
}
.aimer-col-5 {
  width: 20.83333333%;
}
.aimer-col-6 {
  width: 25%;
}
.aimer-col-7 {
  width: 29.16666667%;
}
.aimer-col-8 {
  width: 33.33333333%;
}
.aimer-col-9 {
  width: 37.5%;
}
.aimer-col-10 {
  width: 41.66666667%;
}
.aimer-col-11 {
  width: 45.83333333%;
}
.aimer-col-12 {
  width: 50%;
}
.aimer-col-13 {
  width: 54.16666667%;
}
.aimer-col-14 {
  width: 58.33333333%;
}
.aimer-col-15 {
  width: 62.5%;
}
.aimer-col-16 {
  width: 66.66666667%;
}
.aimer-col-17 {
  width: 70.83333333%;
}
.aimer-col-18 {
  width: 75%;
}
.aimer-col-19 {
  width: 79.16666667%;
}
.aimer-col-20 {
  width: 83.33333333%;
}
.aimer-col-21 {
  width: 87.5%;
}
.aimer-col-22 {
  width: 91.66666667%;
}
.aimer-col-23 {
  width: 95.83333333%;
}
.aimer-col-24 {
  width: 100%;
}
.aimer-col {
  display: inline-block;
  font-size: 0;
}
.aimer-col-item {
  font-size: 14px;
}
.clear:after {
  content: '';
  display: table;
  clear: both;
}
label {
  display: block;
}
