@import '~/style/index.less';
@import '~/style/theme/index.less';

.@{prefix}-select{
    padding: 4px 8px;
    border: 1px solid @borderColor;
    height: 32px;
    line-height: 32px;
    border-radius: 8px;
    box-sizing: border-box;
}